/* navlink style */
.nav-item .nav-link {
    color: rgb(240, 238, 238);
}

.nav-item .nav-link:hover {
    color: rgb(170, 167, 167);
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* header styleing */
.headerC1 h3 small {
    color: grey;
}

.headerC1 .fas {
    padding-right: 5px;
}

#header {
    background-color: #333333;
    color: #fff;
    padding-top: 10px;
    margin-bottom: 15px;
    color: white;
}

#header .create {
    padding-bottom: 10px;
}

#header .create .btn {
    background-color: transparent;
    color: #fff;
}